@model KCActorsTheatre.Web.Areas.CustomAdmin.ViewModels.MissionCenters.EditViewModel
@using Clickfarm.AppFramework.Extensions
@using Clickfarm.Cms.Mvc
@using KCActorsTheatre
@{
    Layout = null;
    var entityDescription = "Mission Center";
}
@if (Model.HasMissionCenter)
{    
    <div class="editable-parent item-index-tab model-display" data-tab-type="edit-item" data-item-id="@Model.MissionCenter.MissionCenterID">

        <div class="ui-toolbar-cms">
            <a href="#" class="refresh-item-link" data-item-id="@Model.MissionCenter.MissionCenterID" title="Refresh @entityDescription">Refresh @entityDescription</a>
            <a href="#" class="delete-item-link" data-item-id="@Model.MissionCenter.MissionCenterID" title="Delete @entityDescription">Delete @entityDescription</a>
        </div>

        <div class="mission-center-items-tabs">
            <ul>
                <li><a href="#tabs-1">General</a></li>
                <li><a href="#tabs-2">Location</a></li>
                <li><a href="#tabs-3">Phone Numbers</a></li>
                <li><a href="#tabs-4">Contacts</a></li>
            </ul>
            <div id="tabs-1">

                <div class="ui-widget-content ui-corner-all ui-widget-cms">
                    <label>Name:</label>
                    <div class="display-field editable-format editable" data-property-name="Name">@Model.MissionCenter.Name</div>

                    <label>Mission Field:</label>
                    <div class="display-field editable-format editable-select editable-select-missionfield" 
                         data-editable-select-model="missionfield" 
                         data-editable-select-load-url="/CustomAdmin/MissionCenters/GetMissionFields"
                         data-property-name="MissionFieldID">
                        @(Model.MissionCenter.MissionField != null ? @Model.MissionCenter.MissionField.Name : string.Empty)
                    </div>

                    <label>Email:</label>
                    <div class="display-field editable-format editable nullable" data-property-name="Email">@Model.MissionCenter.Email</div>

                    <label>Website:</label>
                    <div class="display-field editable-format editable nullable" data-property-name="Website">@Model.MissionCenter.Website</div>
                </div>
            </div>
            <div id="tabs-2">
                <div class="ui-widget-content ui-corner-all ui-widget-cms">
                    <label>Address 1:</label>
                    <div class="display-field editable-format editable nullable" data-property-name="Address1">@Model.MissionCenter.Address1</div>

                    <label>Address 2:</label>
                    <div class="display-field editable-format editable nullable" data-property-name="Address2">@Model.MissionCenter.Address2</div>

                    <label>City:</label>
                    <div class="display-field editable-format editable nullable" data-property-name="City">@Model.MissionCenter.City</div>

                    <label>State/Province:</label>
                    <div class="display-field editable-format editable nullable" data-property-name="State">@Model.MissionCenter.State</div>

                    <label>Zip/Postal Code:</label>
                    <div class="display-field editable-format editable nullable" data-property-name="PostalCode">@Model.MissionCenter.PostalCode</div>

                    <label>Country:</label>
                    <div class="display-field editable-format editable nullable" data-property-name="Country">@Model.MissionCenter.Country</div>
                </div>
            </div>
            <div id="tabs-3">
                <div class="ui-widget-content ui-corner-all ui-widget-cms">
                    <div class="editable-left-column">
                        <label>Type:</label>
                    </div>
                    <div class="editable-right-column" style="margin-left:30px;">
                        <label>Number:</label>
                    </div>
                    <br style="clear:both;" />
                    <div class="display-field editable-format editable-select editable-select-phonetype1 editable-left-column" 
                         data-editable-select-model="phonetype1" 
                         data-editable-select-load-url="/CustomAdmin/MissionCenters/GetPhoneTypes"
                         data-property-name="PhoneType1">@Html.DisplayFor(m => m.MissionCenter.PhoneType1)
                    </div>
                    <div class="display-field editable-format editable nullable editable-right-column" data-property-name="Phone1">@Model.MissionCenter.Phone1</div>
                    <br style="clear:both;" />

                    <div class="display-field editable-format editable-select editable-select-phonetype2 editable-left-column"
                         data-editable-select-model="phonetype2"
                         data-editable-select-load-url="/CustomAdmin/MissionCenters/GetPhoneTypes"
                         data-property-name="PhoneType2">
                        @Html.DisplayFor(m => m.MissionCenter.PhoneType2)
                    </div>
                    <div class="display-field editable-format editable nullable editable-right-column" data-property-name="Phone2">@Model.MissionCenter.Phone2</div>
                    <br style="clear:both;" />

                    <div class="display-field editable-format editable-select editable-select-phonetype3 editable-left-column"
                         data-editable-select-model="phonetype3"
                         data-editable-select-load-url="/CustomAdmin/MissionCenters/GetPhoneTypes"
                         data-property-name="PhoneType3">
                        @Html.DisplayFor(m => m.MissionCenter.PhoneType3)
                    </div>
                    <div class="display-field editable-format editable nullable editable-right-column" data-property-name="Phone1">@Model.MissionCenter.Phone3</div>
                    <br style="clear:both;" />
                </div>
            </div>
            <div id="tabs-4">
                <div class="ui-widget-content ui-corner-all ui-widget-cms">
                    @if (Model.MissionCenter.RoleDefinitions.Count > 0)
                    {
                        <table class="table-layout contacts-table">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th width="300">Name</th>
                                    <th width="500">Title</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.MissionCenter.RoleDefinitions.OrderBy(p => p.DisplayOrder))
                                {
                                    var editURL = string.Format("/CustomAdmin/StaffMembers/Index/{0}", item.StaffMemberID);
                                    var name = string.Format("{0}, {1}", item.StaffMember.LastName, item.StaffMember.FirstName);
                                    
                                    <tr id="@item.RoleDefinitionID">
                                        <td><div class="sort-order"><span class="ui-icon ui-icon-carat-2-n-s"></span></div></td>
                                        <td><a href="@Html.Raw(editURL)" target="_blank">@name</a></td>
                                        <td>@item.Title</td>
                                        <td><a href="#" class="delete-role-definition" data-role-definition-id="@item.RoleDefinitionID">Delete</a></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        <br style="clear:both;" />
                    }
                    else
                    {
                        <text>
                            There are no staff members currently assigned to this mission center.<br /><br />
                            Click <a href="/CustomAdmin/StaffMembers">here</a> to assign staff members as contacts.
                        </text>
                    }
                </div>
            </div>
        </div>

        <br />

        <label>Date Created:</label>
        <div class="display-field">@(Model.DateConverter.Convert(Model.MissionCenter.DateCreated).FromUtc().ForCmsUser().ToString("g"))</div>

        <label>Last Modified:</label>
        <div class="display-field">@(Model.MissionCenter.DateModified.HasValue ? Model.DateConverter.Convert(Model.MissionCenter.DateModified.Value).FromUtc().ForCmsUser().ToString("g") : "Never")</div>


    </div>
}
else
{
    <div class="message">
        @entityDescription not found.
    </div>
}