@using Clickfarm.Cms.Admin.Mvc
@using Clickfarm.Cms.Mvc
@using Clickfarm.Cms.Core
@using Clickfarm.Cms.Configuration
@using Clickfarm.Cms.Admin.Mvc.Areas.Admin.ViewModels
@model EditAppViewModel
@{
    var app = (KCActorsTheatre.Library.AppTypes.KCActorsTheatreApp)Model.AppHosts.App;
}
<div class="ui-widget ui-widget-cms ui-widget-content ui-corner-all ui-state-highlight">
	<div class="ui-dialog-titlebar ui-widget-header ui-corner-all wrapper">
		<span class="ui-dialog-title">@Model.AppHosts.App.Name</span>
	</div>
	<div class="ui-toolbar-cms">
		@Html.ActionLink("Edit", "Index", "App", new { id = Model.AppHosts.App.AppID }, new { @class = "edit-app-link" })
		<a class="init-app" data-app-id="@Model.AppHosts.App.AppID" href="#">Initialize Cms</a>
		@if (Model.AppHosts.PrimaryHost != null)
		{
			<a class="url-link" href="http://@Model.AppHosts.PrimaryHost.HostName" target="_blank">@Model.AppHosts.PrimaryHost.Label</a>
		}
		@foreach (var host in Model.AppHosts.SecondaryHosts)
		{
			<a class="url-link" href="http://@host.HostName" target="_blank">@host.Label</a>
		}
		<div class="loader"><img src="@Url.AjaxLoader()" alt="Working" title="Working" /> Working...</div>
	</div>
	<div class="wrapper editable-parent model-display app-properties ui-widget-content ui-corner-all" data-app-id="@Model.AppHosts.App.AppID">
		<label>Time Zone:</label>
		<div class="display-field editable-format editable-select editable-select-timezone" data-editable-select-model="timezone"
			data-editable-select-load-url="/Admin/Utility/GetTimeZonesAjax" data-property-name="TimeZone">@Model.AppHosts.App.TimeZoneInfo.DisplayName</div>
        <label>Contact Us Email:</label>
        <div class="display-field editable-format editable" title="Click to edit"
             data-property-name="ContactUsEmail">@app.ContactUsEmail</div>
        <label>Volunteer Email:</label>
        <div class="display-field editable-format editable" title="Click to edit"
             data-property-name="VolunteerEmail">@app.VolunteerEmail</div>
        <label>Facebook URL:</label>
        <div class="display-field editable-format editable" title="Click to edit"
            data-property-name="FacebookURL">@app.FacebookURL</div>
        <label>Pinterest URL:</label>
        <div class="display-field editable-format editable" title="Click to edit"
            data-property-name="PinterestURL">@app.PinterestURL</div>
        <label>YouTube URL:</label>
        <div class="display-field editable-format editable" title="Click to edit"
            data-property-name="YouTubeURL">@app.YouTubeURL</div>
	</div>
</div>