@using KCActorsTheatre.Web.Extensions
@using KCActorsTheatre.Blogs
@using System.Globalization
@model KCActorsTheatre.Web.ViewModels.BlogsViewModel
@{
    Layout = "~/Views/Shared/Layouts/InnerWithSidebar.cshtml";
    var req = Model.RequestContent;
    var page = req.Page as Clickfarm.Cms.Core.WebPage;
    var blogType = Model.BlogType.ToString().ToLower().Replace(" ", "-");
    ViewBag.NgApp = "blogApp";
    
}
@section Scripts {
    <script type="text/javascript">
        var BLOG_TYPE = '@blogType';
        var DISQUS_ACCOUNT = '@Model.DisqusAccount';
    </script>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5344363601fc148e"></script>

    <script src="/ng-apps/shared/base-app.js"></script>
    <script src="/ng-apps/blog/blog-app.js"></script>

    @* controllers *@
	<script src="/ng-apps/blog/controllers/DefaultController.js"></script>
	<script src="/ng-apps/blog/controllers/PostController.js"></script>
    @* services *@
	<script src="/ng-apps/blog/services/DataService.js"></script>
	<script src="/ng-apps/blog/services/PostService.js"></script>
	<script src="/ng-apps/blog/services/PostsService.js"></script>
	<script src="/ng-apps/shared/services/PromisesService.js"></script>
	<script src="/ng-apps/shared/services/GlobalNotificationService.js"></script>
    @*Directives*@
	<script src="/ng-apps/blog/directives/AddThis.js"></script>
	<script src="/ng-apps/shared/directives/GlobalNotificationDirective.js"></script>

}
@section Body {

    <h1>@page.Title</h1>

    <div class="row">
		<div id="blog-container" ng-controller="DefaultController">
			<div class="alert alert-info default-blog-alert" ng-show="loadingBlog">
				<img src="/common/img/ajax-loader.gif" title="Loading blog..." />&nbsp;&nbsp;&nbsp;<span>Loading blog...</span>
			</div>
			<div class="alert alert-error ng-cloak" ng-show="hasErrorAlert()">
				<button type="button" class="close" ng-click="dismissErrorAlert()">&times;</button>
				<span>{{errorAlert.message}}</span>
			</div>
            <div ng-show="havePosts()">
                <ng-view></ng-view>
            </div>
			<global-notification></global-notification>
		</div>
    </div>
}

@section Sidebar {

    <div class="sidebar-item">
        <div class="row heading-row">
            <div class="col-xs-12 heading">
                <h3>Categories</h3>
            </div>
            <div class="col-xs-12">
                <form class="form-horizontal">
                    <select id="select-category" class="form-control" ng-click="getByCategory()">
                        <option value="0"></option>
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.PostCategoryID">@category.Name</option>
                        }
                    </select>
                </form>
            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Shared/Widgets/ContentWidgets.cshtml")

    <div class="sidebar-item">
        <div class="row heading-row">
            <div class="col-xs-12 heading">
                <h3>In the Archives</h3>
            </div>
            <div class="col-xs-12">
                <ol id="blog-archives">
                    @foreach (var year in Model.ArchiveData.OrderByDescending(x=>x.Key))
                    {
                        <li>
                            <a class="archive-year">
                                @year.Key
                            </a>
                        </li>
                        <ol>
                            @foreach (var month in year.Value.OrderBy(x=>x.Key))
                            {
                                <li class="archive-month">
                                    <a style="cursor:pointer;" ng-click="getByMonth(@month.Key, @year.Key)">
                                        <span class="badge pull-right">@month.Value</span>
                                        @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(month.Key)
                                    </a>
                                </li>
                            }
                        </ol>
                    }
                </ol>
                @*<a href="#" class="pull-right widget-more-link">View the Archives <span class="glyphicon glyphicon-circle-arrow-right"></span></a>*@
            </div>
        </div>
    </div>

}