<div class="ui-widget-content ui-corner-all ui-widget-cms">
    <label>First Name:</label>
    <div class="display-field editable-format editable" data-property-name="FirstName">@Model.StaffMember.FirstName</div>

    <label>Last Name:</label>
    <div class="display-field editable-format editable" data-property-name="LastName">@Model.StaffMember.LastName</div>

    <label>Sort Name:</label>
    <div class="display-field editable-format editable" data-property-name="SortName">@Model.StaffMember.SortName</div>

    <label>Phone:</label>
    <div class="display-field editable-format editable" data-property-name="Phone">@Model.StaffMember.Phone</div>

    <label>Email:</label>
    <div class="display-field editable-format editable" data-property-name="Email">@Model.StaffMember.Email</div>
</div>