@model KCActorsTheatre.Web.Areas.CustomAdmin.ViewModels.StaffMembers.EditViewModel
@using Clickfarm.AppFramework.Extensions
@using Clickfarm.Cms.Mvc
@using KCActorsTheatre.Staff
@{
    Layout = null;
    var entityDescription = "Staff Member";
}
@if (Model.HasStaffMember)
{
    <div class="editable-parent item-index-tab model-display" data-tab-type="edit-item" data-item-id="@Model.StaffMember.StaffMemberID">

        <div class="ui-toolbar-cms">
            <a href="#" class="refresh-item-link" data-item-id="@Model.StaffMember.StaffMemberID" title="Refresh @entityDescription">Refresh @entityDescription</a>
            <a href="#" class="delete-item-link" data-item-id="@Model.StaffMember.StaffMemberID" title="Delete @entityDescription">Delete @entityDescription</a>
        </div>

        @Html.Partial("_Edit" + Model.StaffMember.StaffType.ToString())
    
        <br />

        <label>Date Created:</label>
        <div class="display-field">@(Model.DateConverter.Convert(Model.StaffMember.DateCreated).FromUtc().ForCmsUser().ToString("g"))</div>

        <label>Last Modified:</label>
        <div class="display-field">@(Model.StaffMember.DateModified.HasValue ? Model.DateConverter.Convert(Model.StaffMember.DateModified.Value).FromUtc().ForCmsUser().ToString("g") : "Never")</div>
    
    </div>
}
else
{
<div class="message">
    @entityDescription not found.
</div>
}
