@using Clickfarm.AppFramework.Extensions;
@using Clickfarm.Cms.Configuration
@using Clickfarm.Cms.Core
@using Clickfarm.Cms.Mvc
@using KCActorsTheatre.Cms.ContentTypes
@model Clickfarm.Cms.Admin.Mvc.Areas.Admin.ViewModels.ContentGroupMemberViewModel
@{ 
    AlertContent content = (AlertContent)Model.Content;
    ContentTypeConfigData config = Model.ContentTypeConfigData;

    var fileDocProps = ContentProperties.Empty;
    if (config.Properties.ContainsKey("FileDocumentContentProperties"))
    {
        fileDocProps = config.Properties["FileDocumentContentProperties"];
    }
}

<label>Alert Description:</label>
<span style="font-style: italic">Maximum length is 200 characters.</span>
<div class="display-field editable-format editable" data-property-name="AlertDescription">@content.AlertDescription</div>

<label>English Link Text:</label>
<span style="font-style: italic">Maximum length is 25 characters.</span>
<div class="display-field editable-format editable" data-property-name="EnglishLinkText">@content.EnglishLinkText</div>

<label>English URL:</label>
<div class="display-field editable-format editable-hyperlink" data-content-file-properties="@fileDocProps.ToJson()" data-property-name="EnglishLinkURL">@content.EnglishLinkURL</div>

<label>Spanish Link Text:</label>
<span style="font-style: italic">Maximum length is 25 characters.</span>
<div class="display-field editable-format editable" data-property-name="SpanishLinkText">@content.SpanishLinkText</div>

<label>Spanish URL:</label>
<div class="display-field editable-format editable-hyperlink" data-content-file-properties="@fileDocProps.ToJson()" data-property-name="SpanishLinkURL">@content.SpanishLinkURL</div>

<label>French Link Text:</label>
<span style="font-style: italic">Maximum length is 25 characters.</span>
<div class="display-field editable-format editable" data-property-name="FrenchLinkText">@content.FrenchLinkText</div>

<label>French URL:</label>
<div class="display-field editable-format editable-hyperlink" data-content-file-properties="@fileDocProps.ToJson()" data-property-name="FrenchLinkURL">@content.FrenchLinkURL</div>