@model KCActorsTheatre.Web.Areas.CustomAdmin.ViewModels.Tags.EditViewModel
@using Clickfarm.AppFramework.Extensions
@using Clickfarm.Cms.Mvc
@using KCActorsTheatre.Tags
@{
    Layout = null;
    var entityDescription = "Tag";
}
@if (Model.HasTag)
{
    <div class="editable-parent item-index-tab model-display" data-tab-type="edit-item" data-item-id="@Model.Tag.TagID">
        <div class="ui-toolbar-cms">
            <a href="#" class="refresh-item-link" data-item-id="@Model.Tag.TagID" title="Refresh @entityDescription">Refresh @entityDescription</a>
            <a href="#" class="delete-item-link" data-item-id="@Model.Tag.TagID" title="Delete @entityDescription">Delete @entityDescription</a>
        </div>
        <div class="ui-widget-content ui-corner-all ui-widget-cms">
            <label>Name:</label>
            <div class="display-field editable-format editable" data-property-name="Name">@Model.Tag.Name</div>
            @if (Model.Tag.TagType == TagType.General)
            {
                <label>Associated Announcements:</label>
                <div class="display-field">
                    @Html.Raw(Model.GetAssociatedAnnouncments())
                </div>

                <label>Associated Official Announcements:</label>
                <div class="display-field">
                    @Html.Raw(Model.GetAssociatedOfficialAnnouncments())
                </div>

                <label>Associated Resources:</label>
                <div class="display-field">
                    @Html.Raw(Model.GetAssociatedResources())
                </div>
            }
            else if (Model.Tag.TagType == TagType.MissionStory)
            {
                <label>Associated Mission Stories:</label>
                <div class="display-field">
                    @Html.Raw(Model.GetAssociatedMissionStories())
                </div>

            }
            
            <label>Date Created:</label>
            <div class="display-field">@(Model.DateConverter.Convert(Model.Tag.DateCreated).FromUtc().ForCmsUser().ToString("g"))</div>

            <label>Last Modified:</label>
            <div class="display-field">@(Model.Tag.DateModified.HasValue ? Model.DateConverter.Convert(Model.Tag.DateModified.Value).FromUtc().ForCmsUser().ToString("g") : "Never")</div>
        </div>
    </div>
}
else
{
    <div class="message">
        @entityDescription not found.
    </div>
}
