@model KCActorsTheatre.Web.ViewModels.NewsletterSignUpViewModel
<h3>Keep Up to Date</h3>
<h4>@Model.FormCopy</h4>			

@{ 
    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "Post",
        LoadingElementId = "item-loading",
        OnFailure = "hn.NewsletterSignUpComplete",
        OnSuccess = "hn.NewsletterSignUpComplete"
    };
}

@using (Ajax.BeginForm("NewSignUp", "Home", null, ajaxOptions))
{
    <div class="newsletter-container">
	    <div class="row-fluid">
            @Html.TextBoxFor(m => m.NewsletterSignUp.FirstName, new { @class = "span6 name-capture", @placeholder = "First Name" })
            @Html.TextBoxFor(m => m.NewsletterSignUp.LastName, new { @class = "span6 name-capture", @placeholder = "Last Name" })
            <br />
            @Html.ValidationMessageFor(m => m.NewsletterSignUp.FirstName)
            @Html.ValidationMessageFor(m => m.NewsletterSignUp.LastName)
	    </div>
	    <div class="row-fluid">
            @Html.TextBoxFor(m => m.NewsletterSignUp.EmailAddress, new { @class = "span12 email-capture", @placeholder = "E-mail Address" })
            @Html.ValidationMessageFor(m => m.NewsletterSignUp.EmailAddress)
                <input type="submit" class="btn form-btn" value="Sign Up" />
	    </div>
    </div>
}