@model KCActorsTheatre.Web.ViewModels.PeopleViewModel

<div class="row">
    <div class="col-sm-12" id="main-content">
        @if (Model.People != null && Model.People.Any())
        {
            foreach (var person in Model.People)
            {
                var classString = string.IsNullOrWhiteSpace(person.ImageUrl) ? "col-sm-12" : "col-sm-9";

                <div class="row person">
                    @if (!string.IsNullOrWhiteSpace(person.ImageUrl))
                    {
                        <div class="col-sm-3">
                            <img src="@person.ImageUrl" alt="@person.Name" />
                        </div>
                    }
                    <div class="@classString">
                        <h3><a href="/people/person?id=@person.PersonID">@person.Name</a></h3>
                        <h6>@person.Title</h6>
                        <p>@person.BioSummary</p>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row person">
                <div class="col-sm-12">
                    <h3>We are working on adding more information about our people.</h3>
                    <p>Please check back soon.</p>
                </div>
            </div>
        }
    </div>
</div>
