@using KCActorsTheatre.Web.Extensions
@model KCActorsTheatre.Web.ViewModels.MissionStoriesViewModel
@{
    Layout = "~/Views/Shared/Layouts/Layout.cshtml";
    var req = Model.RequestContent;
    var page = req.Page as Clickfarm.Cms.Core.WebPage;
}
@section Body {
    <div class="row header-row">
        <div class="col-xs-12">
            <h1>@page.Title</h1>
            <p>PLACEHOLDER TEXT ABOUT THIS PAGE. Alternatively, users can check out recent <a href="/announcements">Announcements</a> or <a href="/official-announcements">Official Announcements</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" id="main-content">

            @foreach (var missionStory in Model.MissionStories)
            {
                <div class="row mission-story">
                    <div class="col-sm-3">
                        <img src="@missionStory.ThumbnailImageURL" alt="@missionStory.Title">
                    </div>
                    <div class="col-sm-9">
                        <h2>@missionStory.Title</h2>
                        <p>@missionStory.Teaser</p>
                        <p><a href="@Url.MissionStoryUrl(missionStory)" class="widget-more-link">Read More <span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
                    </div>
                </div>        
            }
        </div>
    </div>    
}