@model KCActorsTheatre.Web.Areas.CustomAdmin.ViewModels.News.EditArticleViewModel
@using Clickfarm.AppFramework.Extensions
@using Clickfarm.Cms.Mvc
@{
    Layout = null;
    var entityDescription = "News Article";
}
@if (Model.HasArticle)
{
    <div class="editable-parent item-index-tab model-display" data-tab-type="edit-item" data-item-id="@Model.Article.ArticleID">
        <div class="ui-toolbar-cms">
            <a href="#" class="refresh-item-link" data-item-id="@Model.Article.ArticleID" title="Refresh @entityDescription">Refresh @entityDescription</a>
            <a href="#" class="delete-item-link" data-item-id="@Model.Article.ArticleID" title="Delete @entityDescription">Delete @entityDescription</a>
        </div>
        <div class="ui-widget-content ui-corner-all ui-widget-cms">
            <label>Title:</label>
            <div class="display-field editable-format editable" data-property-name="Title">@Model.Article.Title</div>
            <label>Author:</label>
            <div class="display-field editable-format editable" data-property-name="Author">@Model.Article.Author</div>
            <label>Summary:</label>
            <div class="display-field editable-format editable" data-property-name="Summary">@Model.Article.Summary</div>
            <label>Body:</label>
            <div class="display-field editable-format editable-html" data-property-name="Body">@Html.Raw(Model.Article.Body)</div>
            <label>Article Date:</label>
            <div class="display-field editable-format editable-datepicker" data-property-name="ArticleDate">@(Model.Article.ArticleDate.HasValue ? Model.DateConverter.Convert(Model.Article.ArticleDate.Value).ToUtc().ForCmsUser().ToShortDateString() : string.Empty)</div>
            <label>Is Published?</label>
            <div class="display-field editable-format editable-yes-no-boolean" data-property-name="IsPublished">@(Model.Article.IsPublished ? "Yes" : "No")</div>
            <label>Date Created:</label>
            <div class="display-field">@(Model.DateConverter.Convert(Model.Article.DateCreated).FromUtc().ForCmsUser().ToString("g"))</div>
        </div>
    </div>
}
else
{
    <div class="message">
        @entityDescription not found.
    </div>
}
