@model KCActorsTheatre.Web.Areas.CustomAdmin.ViewModels.Blog.EditPostViewModel
@using Clickfarm.AppFramework.Extensions
@using Clickfarm.Cms.Mvc
@{
    Layout = null;
    var entityDescription = "Blog Post";
}
@if (Model.HasPost)
{
    <div class="editable-parent item-index-tab model-display" data-tab-type="edit-item" data-item-id="@Model.Post.PostID">
        <div class="ui-toolbar-cms">
            <a href="#" class="refresh-item-link" data-item-id="@Model.Post.PostID" title="Refresh @entityDescription">Refresh @entityDescription</a>
            <a href="#" class="delete-item-link" data-item-id="@Model.Post.PostID" title="Delete @entityDescription">Delete @entityDescription</a>
        </div>
        <div class="ui-widget-content ui-corner-all ui-widget-cms">
            <label>Title:</label>
            <div class="display-field editable-format editable" data-property-name="Title">@Model.Post.Title</div>
            <label>Summary:</label>
            <div class="display-field editable-format editable" data-property-name="Summary">@Model.Post.Summary</div>
            @*<label>Image:</label>
            <span style="font-style: italic">Image should be 870 <small>x</small> 400</span>
            <div class="display-field editable-format editable-image nullable" data-content-file-properties="@Model.ContentProperties_ImageFile.ToJson()" data-content-image-properties="@Model.ContentProperties_Image.ToJson()" data-property-name="ImageURL">
                <img src="@(!string.IsNullOrWhiteSpace(Model.Post.ImageURL) ? Model.Post.ImageURL : Url.CmsVersionedCdnResource("/images/no-image.png"))" alt="" />
            </div>*@
            <label>Body:</label>
            <div class="display-field editable-format editable-html" data-property-name="Body">@Html.Raw(Model.Post.Body)</div>
            <label>Publish Date:</label>
            <div class="display-field editable-format editable-datepicker" data-property-name="PublishDate">@(Model.Post.PublishDate.HasValue ? Model.DateConverter.Convert(Model.Post.PublishDate.Value).ToUtc().ForCmsUser().ToShortDateString() : string.Empty)</div>
            <label>Expiration Date:</label>
            <div class="display-field editable-format editable-datepicker" data-property-name="UnpublishDate">@(Model.Post.UnpublishDate.HasValue ? Model.Post.UnpublishDate.Value.ToShortDateString() : string.Empty)</div>
            <label>Author:</label>
            <div class="display-field editable-format editable-select editable-select-author" data-editable-select-model="author" data-editable-select-load-url="/CustomAdmin/Blog/GetAuthorsAjax"
                data-property-name="AuthorID">@(Model.Post.Author != null ? Model.Post.Author.Name : string.Empty)</div>
            <label>Status:</label>
            <div class="display-field editable-format editable-select editable-select-status" data-editable-select-model="status" data-editable-select-load-url="/CustomAdmin/Blog/GetPostStatusesAjax"
                data-property-name="PublishStatus">@Html.DisplayFor(m => m.Post.PublishStatus)</div>
            <label>Date Created:</label>
            <div class="display-field">@(Model.DateConverter.Convert(Model.Post.DateCreated).FromUtc().ForCmsUser().ToString("g"))</div>
        </div>
    </div>
}
else
{
    <div class="message">
        @entityDescription not found.
    </div>
}
