@model KCActorsTheatre.Web.Areas.CustomAdmin.ViewModels.Blog.EditCommentViewModel
@using Clickfarm.AppFramework.Extensions
@using Clickfarm.Cms.Mvc
@{
    Layout = null;
    var entityDescription = "Blog Comment";
}
@if (Model.HasComment)
{
    <div class="editable-parent item-index-tab model-display" data-tab-type="edit-item" data-item-id="@Model.Comment.CommentID">
        <div class="ui-toolbar-cms">
            <a href="#" class="refresh-item-link" data-item-id="@Model.Comment.CommentID" title="Refresh @entityDescription">Refresh @entityDescription</a>
            <a href="#" class="delete-item-link" data-item-id="@Model.Comment.CommentID" title="Delete @entityDescription">Delete @entityDescription</a>
        </div>
        <div class="ui-widget-content ui-corner-all ui-widget-cms">
            <label>Name:</label>
            <div class="display-field editable-format editable" data-property-name="Name">@Model.Comment.Name</div>
            <label>Text:</label>
            <div class="display-field editable-format editable" data-property-name="Text">@Model.Comment.Text</div>
            <label>Is Approved?</label>
            <div class="display-field editable-format editable-yes-no-boolean" data-property-name="IsApproved">@(Model.Comment.IsApproved ? "Yes" : "No")</div>
            <label>Date Created:</label>
            <div class="display-field">@(Model.DateConverter.Convert(Model.Comment.DateCreated).FromUtc().ForCmsUser().ToString("g"))</div>
        </div>
    </div>
}
else
{
    <div class="message">
        @entityDescription not found.
    </div>
}
