@model KCActorsTheatre.Web.Areas.CustomAdmin.ViewModels.Calendar.EditViewModel
@using Clickfarm.AppFramework.Extensions
@using Clickfarm.Cms.Mvc
@using Clickfarm.Cms.Core;
@{
    Layout = null;
    var entityDescription = "Calendar Event";

    string target = null;
    if (Model.CalendarEvent.LinkTarget != null)
    {
        HyperlinkContent.LinkTargets.TryGetPropertyValue<string>(Model.CalendarEvent.LinkTarget, out target);
    }
}
@if (Model.HasCalendarEvent)
{
    string tagList = Model.GetTagsAsList();
    if (string.IsNullOrWhiteSpace(tagList))
    {
        tagList = "Click to edit";
    }

    <div class="editable-parent item-index-tab model-display" data-tab-type="edit-item" data-item-id="@Model.CalendarEvent.CalendarEventID">
        <div class="ui-toolbar-cms">
            <a href="#" class="refresh-item-link" data-item-id="@Model.CalendarEvent.CalendarEventID" title="Refresh @entityDescription">Refresh @entityDescription</a>
            <a href="#" class="delete-item-link" data-item-id="@Model.CalendarEvent.CalendarEventID" title="Delete @entityDescription">Delete @entityDescription</a>
        </div>
        <div class="ui-widget-content ui-corner-all ui-widget-cms">
            <label>Title:</label>
            <span style="font-style: italic"><span class="required">(Required)</span> 150 Character limit.</span>
            <div class="display-field editable-format editable" data-property-name="Title">@Model.CalendarEvent.Title</div>

            <label>Location:</label>
            <span style="font-style: italic"><span class="required">(Required)</span> 100 Character limit.</span>
            <div class="display-field editable-format editable" data-property-name="Location">@Model.CalendarEvent.Location</div>

            <label>Description:</label>
            <span style="font-style: italic">300 Character limit.</span>
            <div class="display-field editable-format editable nullable" data-property-name="Description">@Model.CalendarEvent.Description</div>

            <label>Event Start:</label>
            <span style="font-style: italic"><span class="required">(Required)</span> Date &amp; Time event starts.</span>
            <div class="display-field editable-format editable-datetimepicker" data-property-name="StartDate">@Model.CalendarEvent.StartDate.ToString("g")</div>

            <label>Event End:</label>
            <span style="font-style: italic">Date &amp; Time event ends.</span>
            <div class="display-field editable-format editable-datetimepicker nullable" data-property-name="EndDate">@(Model.CalendarEvent.EndDate.HasValue ? Model.CalendarEvent.EndDate.Value.ToString("g") : "Click to edit")</div>

            <label>Link Target:</label>
            <div class="display-field editable-format editable-select editable-select-target nullable"
                 data-editable-select-model="target"
                 data-editable-select-data="@Clickfarm.Cms.Core.HyperlinkContent.LinkTargetsJson"
                 data-property-name="LinkTarget">
                @target
            </div>

            <label>Link URL:</label>
            <div class="display-field editable-format editable-hyperlink nullable"
                 data-property-name="LinkURL">
                @Model.CalendarEvent.LinkURL
            </div>

            <label>Event Category:</label>
            <div class="display-field editable-format editable-select editable-select-category pointer"
                 data-editable-select-model="category"
                 data-editable-select-load-url="/CustomAdmin/Events/GetEventCategoriesAjax"
                 data-property-name="EventCategoryID">
                @(Model.CalendarEvent.EventCategory != null ? Model.CalendarEvent.EventCategory.Name : "Click to edit")
            </div>

            <label>Tags:</label>
            <div class="display-field editable-format edit-associated-tags pointer">@Html.Raw(tagList)</div>

            <label>Date Created:</label>
            <div class="display-field">@(Model.DateConverter.Convert(Model.CalendarEvent.DateCreated).FromUtc().ForCmsUser().ToString("g"))</div>

            <label>Last Modified:</label>
            <div class="display-field">@(Model.CalendarEvent.DateModified.HasValue ? Model.DateConverter.Convert(Model.CalendarEvent.DateModified.Value).FromUtc().ForCmsUser().ToString("g") : "Never")</div>
        </div>
    </div>
}
else
{
    <div class="message">
        @entityDescription not found.
    </div>
}
