@model KCActorsTheatre.Web.ViewModels.ShowViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var mainImageUrl = string.IsNullOrEmpty(Model.Show.MainImageUrl) ? "http://placehold.it/1200x500" : Model.Show.MainImageUrl;
    var mainContentClassString = Model.Show.Season.IsCurrent ? "col-md-9 col-sm-12" : "col-sm-12";
    var orderedRoles = Model.Show.RoleDefinitions.OrderBy(r => r.Title).ThenBy(r => r.Person.Name);
}

@section styles
{
    <link href="/common/css/nivo-lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/common/css/themes/default/default.min.css" rel="stylesheet" type="text/css" media="all" />
}

@section scripts
{
    @if (Model.Show.Videos != null && Model.Show.Videos.Any())
    {
        <script type="text/javascript">
            $(function () {

                var videoIds = '@string.Join(",", Model.Show.Videos.Select(n => n.VimeoID.ToString()).ToArray())';
                videoIds.split(',').forEach(function (id) {
                    $.ajax({
                        url: 'http://vimeo.com/api/v2/video/' + id + '.json',
                        success: function (data) {
                            console.log(data[0]);

                            $('.show-videos').append('<div><a href="http://vimeo.com/' + id + '" data-lightbox-gallery="gallery2"><img src="' + data[0].thumbnail_medium + '" class="show-thumbnails"></a></div>');

                        }
                    });
                });

                var slickOptions = {
                    dots: true,
                    infinite: false,
                    speed: 300,
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2,
                                infinite: true,
                                dots: true
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }
                    ]
                };

                setTimeout(function () {
                    $('.responsive-show').slick(slickOptions);
                    $('.responsive-show a')
                        .nivoLightbox({
                            effect: 'fadeScale',
                            theme: 'default',
                            keyboardNav: true,
                            clickOverlayToClose: true
                        });
                }, 500);
            });
        </script>
    }
}

<div class="inner-page-img">
    <img src="@mainImageUrl" alt="">
</div>
<div class="container inner-page-with-image">
    <div class="row header-row">
        <div class="col-xs-12">
            <h1>@Model.Show.Title</h1>
        </div>
    </div>
    <div class="row">
        <div class="@mainContentClassString" id="main-content">
            <div class="row show-detail-item visible-xs">
                <div class="col-sm-12">
                    <a href="https://tickets.cto.umkc.edu/public/load_screen.asp" target="_blank" class="btn btn-default btn-block btn-buy">Buy Tickets</a>
                </div>
            </div>
            <div class="row show-detail-item">
                <div class="col-sm-12">
                    <h2>Synopsis</h2>
                    @Html.Raw(Model.Show.Body)
                </div>
            </div>
            @if (Model.Show.Images != null && Model.Show.Images.Any())
            {
                <div class="row show-detail-item">
                    <div class="col-sm-12">
                        <h2>Photos</h2>
                        <div class="slider responsive">
                            @foreach (var image in Model.Show.Images)
                            {
                                <div><a href="@image.ImageURL" data-lightbox-gallery="gallery1">
                                    <img src="@image.ImageURL" alt="@Model.Show.Title photo" class="show-thumbnails"></a></div>
                            }
                        </div>
                    </div>
                </div>
            }
            @if (Model.Show.Videos != null && Model.Show.Videos.Any())
            {
                <div class="row show-detail-item">
                    <div class="col-sm-12">
                        <h2>Videos</h2>
                        <div class="slider responsive-show show-videos">
                        </div>
                    </div>
                </div>
            }
            @if (@orderedRoles.Any())
            {
                <div class="row show-detail-item">
                    <div class="col-sm-12">
                        <h2>Cast</h2>
                        <ul id="cast">
                            @foreach (var role in @orderedRoles)
                            {
                                <li><span class="role">@role.Title:</span> <a href="#">@role.Person.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Show.Reviews))
            {
                <div class="row show-detail-item">
                    <div class="col-sm-12">
                        <h2>Reviews</h2>
                        @Html.Raw(Model.Show.Reviews)
                    </div>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Show.Education))
            {
                <div class="row show-detail-item">
                    <div class="col-sm-12">
                        <h2>Education</h2>
                        @Html.Raw(Model.Show.Education)
                    </div>
                </div>
            }
@*<div class="row show-detail-item">
	      <div class="col-sm-12">
	        <h2>Music</h2>
	        <ul class="mp3-links">
	            <li><a href="#"><span class="glyphicon glyphicon-music"></span>Name of the Song</a></li>
	            <li><a href="#"><span class="glyphicon glyphicon-music"></span>Name of the Song</a></li>
	            <li><a href="#"><span class="glyphicon glyphicon-music"></span>Name of the Song</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-music"></span>Name of the Song</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-music"></span>Name of the Song</a></li>
	        </ul>
	      </div>
	    </div>*@
        </div>
        <!-- Close main-content -->
        @if (Model.Show.Season.IsCurrent)
        {
            <div class="col-md-3 col-sm-12" id="sidebar">
                <div class="row show-sidebar-item hidden-xs">
                    <div class="col-sm-12">
                        <a href="https://tickets.cto.umkc.edu/public/load_screen.asp" target="_blank" class="btn btn-default btn-block btn-buy">Buy Tickets</a>
                    </div>
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.Show.DatesAndTimes))
                {
                    <div class="row show-sidebar-item">
                        <div class="col-sm-12">
                            <h2>Dates &amp; Times</h2>
                            @Html.Raw(Model.Show.DatesAndTimes)
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.Show.Venue))
                {
                    <div class="row show-sidebar-item">
                        <div class="col-sm-12">
                            <h2>Venue</h2>
                            @Html.Raw(Model.Show.Venue)
                        </div>
                    </div>
                }
                @if (Model.Show.Season != null && Model.Show.Season.Shows.Any())
                {
                    <div class="row show-sidebar-item">
                        <div class="col-sm-12">
                            <h2>More From @Model.Show.Season.Title</h2>
                            <ul class="other-show-list">
                                @foreach (var show in Model.OtherShowsInSeason)
                                {
                                    <li>
                                        <h5><a href="/show/item/@show.ShowID">@show.Title</a></h5>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

