@using Clickfarm.AppFramework.Extensions
@using System.Globalization
@model KCActorsTheatre.Web.ViewModels.KCActorsTheatreViewModel
@if (Model != null && Model.ContentWidgets != null && Model.ContentWidgets.Count() > 0)
{
    foreach (var contentWidget in Model.ContentWidgets)
    {
        <div class="sidebar-item">
            <div class="row heading-row">
                <div class="col-xs-12 heading">
                    <h3>@contentWidget.Title</h3>
                </div>
                <div class="col-xs-12">
                    @if (!string.IsNullOrWhiteSpace(contentWidget.ImageUrl))
	                {
                        <img src="@contentWidget.ImageUrl" alt="@contentWidget.Title" class="module-img">
	                }
                    <p>@contentWidget.Text</p>
                    <a href="@contentWidget.LinkUrl" class="pull-right widget-more-link" target=@contentWidget.Target>@contentWidget.LinkText <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
                </div>
            </div>
        </div>
    }
}