@model KCActorsTheatre.Web.Areas.CustomAdmin.ViewModels.Resources.EditViewModel
@using Clickfarm.AppFramework.Extensions
@using Clickfarm.Cms.Mvc
@{
    Layout = null;
    var entityDescription = "Resource";
}
@if (Model.HasResource)
{
    string tagList = Model.GetTagsAsList();
    if (string.IsNullOrWhiteSpace(tagList))
    {
        tagList = "Click to edit";
    }

    <div class="editable-parent item-index-tab model-display" data-tab-type="edit-item" data-item-id="@Model.Resource.ResourceID">
        <div class="ui-toolbar-cms">
            <a href="#" class="refresh-item-link" data-item-id="@Model.Resource.ResourceID" title="Refresh @entityDescription">Refresh @entityDescription</a>
            <a href="#" class="delete-item-link" data-item-id="@Model.Resource.ResourceID" title="Delete @entityDescription">Delete @entityDescription</a>
        </div>
        <div class="ui-widget-content ui-corner-all ui-widget-cms">

            <label>Title:</label>
            <span style="font-style: italic">Maximum allowed length: 150 characters.</span>
            <div class="display-field editable-format editable" data-property-name="Title">@Model.Resource.Title</div>

            <label>Description:</label>
            <span style="font-style: italic">Maximum allowed length: 250 characters.</span>
            <div class="display-field editable-format editable nullable" data-property-name="Description">@Model.Resource.Description</div>

            <label>Thumbnail Image:</label>
            <span style="font-style: italic">Image should be 200 <small>x</small> 200</span>
            <div class="display-field editable-format editable-file nullable" data-content-file-properties="@Model.ContentProperties_ThumbnailImageFile.ToJson()" data-content-image-properties="@Model.ContentProperties_ThumbnailImage.ToJson()" data-property-name="ThumbnailImage">
                <img src="@(!string.IsNullOrWhiteSpace(Model.Resource.ThumbnailImage) ? Model.Resource.ThumbnailImage : Url.CmsVersionedCdnResource("/images/no-image.png"))" alt="" />
            </div>

            <label>Language:</label>
            <div class="display-field editable-format editable-select editable-select-language" data-editable-select-model="language" data-editable-select-load-url="/CustomAdmin/Resources/GetLanguagesAjax"
                 data-property-name="Language">@(Model.Resource.Language != null ? EnumExtensions.GetDescription(Model.Resource.Language) : string.Empty)</div>

            <label>Tags:</label>
            <div class="display-field editable-format edit-associated-tags pointer">@Html.Raw(tagList)</div>

            <label>Publish Date:</label>
            <span style="font-style: italic">Date to start showing resource on the site.</span>
            <div class="display-field editable-format editable-datepicker" data-property-name="DatePublished">@(Model.Resource.DatePublished.HasValue ? Model.DateConverter.Convert(Model.Resource.DatePublished.Value).ToUtc().ForCmsUser().ToShortDateString() : string.Empty)</div>

            <label>Expiration Date:</label>
            <span style="font-style: italic">Date to remove resource from the site.</span>
            <div class="display-field editable-format editable-datepicker nullable" data-property-name="DateExpired">@(Model.Resource.DateExpired.HasValue ? Model.Resource.DateExpired.Value.ToShortDateString() : string.Empty)</div>

            @Html.Partial("_Edit" + Model.Resource.ResourceType.ToString())

            <label>Date Created:</label>
            <div class="display-field">@(Model.DateConverter.Convert(Model.Resource.DateCreated).FromUtc().ForCmsUser().ToString("g"))</div>

            <label>Last Modified:</label>
            <div class="display-field">@(Model.Resource.DateModified.HasValue ? Model.DateConverter.Convert(Model.Resource.DateModified.Value).FromUtc().ForCmsUser().ToString("g") : "Never")</div>
        </div>
    </div>
}
else
{
    <div class="message">
        @entityDescription not found.
    </div>
}
