@using Clickfarm.Cms.Mvc
@model KCActorsTheatre.Web.Areas.CustomAdmin.ViewModels.Congregations.IndexViewModel

@{
    var entityDescriptionSingular = "Congregation";
    var entityDescriptionPlural = "Congregations";
    ViewBag.HtmlTitle = @entityDescriptionPlural;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section styles
{
    <link href="/areas/customadmin/common/css/admin.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        div.sort-order {
            cursor:move;
            margin: 2px -12px 0 5px;
        }
    </style>
}

@section scripts
{
    <script type="text/javascript" src="@Url.CdnResource("/common/js/knockout-plugins/mapping/2.3.5/knockout.mapping-2.3.5.js")"></script>
    <script type="text/javascript" src="/areas/customadmin/common/js/shared/item.js"></script>
    <script type="text/javascript" src="/areas/customadmin/common/js/shared/item-create.js"></script>
    <script type="text/javascript" src="/areas/customadmin/common/js/shared/item-index.js"></script>
    <script type="text/javascript" src="/areas/customadmin/common/js/congregations/congregation-contacts.js"></script>
    <script type="text/javascript" src="/areas/customadmin/common/js/congregations/congregation-contacts-create.js"></script>
    <script type="text/javascript" src="/areas/customadmin/common/js/congregations/index.js"></script>
}

<div id="items" class="items-container">
    <div id="tabs">
        <a href="#" id="close-tabs-link" data-bind="visible: tabMgr.tabs().length > 1, click: tabMgr.closeAllTabs" title="Close all">Close all</a>
        <ul>
            <li class="tab-notclosable"><a href="#primary-tab">@entityDescriptionPlural</a></li>
        </ul>
        <div id="primary-tab">
            <div class="ui-toolbar-cms">
                <a id="create-item" href="#">@entityDescriptionSingular</a>
            </div>
            <div class="tab-options-wrapper">
                <div id="start-options" class="tab-options">
                    <h3><a>@entityDescriptionPlural</a></h3>
                    <div>
                        <div>
                            <label for="find-items-name">Find By Name:</label><br />
                            <input type="text" id="find-items-name" />
                            <a id="show-all-items" style="margin-top: 10px" href="#">Show All</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-display">
                <div id="find-items-results" data-bind="visible: findResultsVisible" class="tab-display-panel ui-dialog ui-widget ui-widget-cms ui-widget-content ui-corner-all ui-state-highlight">
                    @Html.TitleBar(entityDescriptionPlural + " Found", true, "close-find-items-results", "click: closeFindResults")
                    <div class="wrapper">
                        <div data-bind="visible: retrievingItems">
                            <img src="@Url.AjaxLoader()" alt="Looking..." />
                            Looking...
                        </div>
                        <table class="items-table table-layout" data-bind="visible: !retrievingItems() && anyItems()">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Mission Center</th>
                                    <th>City</th>
                                    <th>State/Province</th>
                                    <th>Country</th>
                                    <th>Last Modified</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: items">
                                <tr data-bind="attr: { 'data-item-id': ID }">
                                    <td>
                                        <a href="#" data-bind="click: function () { $parent.showEditItem($data); }, text: Name, attr: { 'data-item-id': ID }"></a>
                                    </td>
                                    <td data-bind="text: MissionCenter"></td>
                                    <td data-bind="text: City"></td>
                                    <td data-bind="text: State"></td>
                                    <td data-bind="text: Country"></td>
                                    <td data-bind="text: DateModified"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div data-bind="visible: !retrievingItems() && !anyItems()">No @entityDescriptionPlural were found.</div>
                    </div>
                </div>
                <div id="recent-items" data-bind="visible: recentItems().length > 0" class="tab-display-panel ui-dialog ui-widget ui-widget-cms ui-widget-content ui-corner-all ui-state-highlight">
                    @Html.TitleBar("Recent " + entityDescriptionPlural)
                    <div class="wrapper">
                        <ul data-bind="foreach: recentItems">
                            <li><a href="#" data-bind="click: function () { $parent.showEditItem($data); }, text: Name, attr: { 'data-item-id': ID }"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <br class="clear" />
        </div>
    </div>
</div>

<div id="manage-contacts-form" title="Manage Congregation Contacts">
    <div class="ui-toolbar-cms">
        <a id="create-contact" href="#">New Congregation Contact</a>
    </div>
    <div class="ui-widget-content ui-corner-all ui-widget-cms">
        <div class="ui-dialog-titlebar ui-titlebar-cms ui-widget-header ui-corner-all tags-header">
            Congregation Contacts:
        </div>
        <table class="table-layout contacts-table" data-bind="visible: anyContacts()" style="width:100%;">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Email Address</th>
                    <th>Phone Number</th>
                    <th style="width:20px;">&nbsp;</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: contacts" id="contacts-tbody">
                <tr data-bind="attr: { 'id': contactID, 'data-contact-id': contactID, 'data-contact-name': name, 'data-contact-position': position, 'data-contact-email': email, 'data-contact-phone': phone }">
                    <td><div class="sort-order"><span class="ui-icon ui-icon-carat-2-n-s"></span></div></td>
                    <td><div class="display-field editable-format editable" data-bind="text: name" data-property-name="Name"></div></td>
                    <td><div class="display-field editable-format editable" data-bind="text: position" data-property-name="Position"></div></td>
                    <td><div class="display-field editable-format editable" data-bind="text: email" data-property-name="Email"></div></td>
                    <td><div class="display-field editable-format editable" data-bind="text: phone" data-property-name="Phone"></div></td>
                    <td>
                        <a href="#" class="delete-contact-link" data-bind="click: $parent.removeContact">Delete Congregation Contact</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br class="clear" />
    </div>
</div>

<div id="create-item-form" class="model-display edit-not-in-place hidden" title="New @entityDescriptionSingular">
    <div class="ui-widget-content ui-corner-all ui-widget-cms">
        @using (Ajax.BeginForm("CreateCongregationAjax", "Congregations",
            new AjaxOptions
            {
                HttpMethod = "Post",
                LoadingElementId = "create-item-loading",
                OnFailure = "createItemManager.ajaxFailure",
                OnSuccess = "createItemManager.ajaxSuccess"
            }
        ))
        {
            @Html.LabelFor(m => m.Congregation.Name)
            <div class="display-field">
                @Html.TextBoxFor(m => m.Congregation.Name, new { @class = "dialog-textbox required", @id = "create-item-name" })<br />
                @Html.ValidationMessageFor(m => m.Congregation.Name)
            </div>
            <div>
                @Html.LabelFor(m => m.Congregation.MissionCenterID, "Mission Center")
                @Html.DropDownListFor(m => m.Congregation.MissionCenter, Model.MissionCenterList, new { Name = "Congregation.MissionCenterID", @class = "dialog-textbox required,", @id = "create-item-mission-center" })<br />
            </div>
        }
    </div>
    <div id="create-item-loading">
        <div class="throbber">
            @* loading animation*@
        </div>
    </div>
    <div id="create-item-error" class="ajax-error"></div>
</div>

<div id="create-contact-form" class="model-display edit-not-in-place hidden" title="New Congregation Contact">
    <div class="ui-widget-content ui-corner-all ui-widget-cms">
        @using (Ajax.BeginForm("CreateCongregationContactAjax", "Congregations",
            new AjaxOptions
            {
                HttpMethod = "Post",
                LoadingElementId = "create-contact-loading",
                OnFailure = "createContactManager.ajaxFailure",
                OnSuccess = "createContactManager.ajaxSuccess"
            }
        ))
        {
            <div class="display-field">
                @Html.LabelFor(m => m.CongregationContact.Name)
                @Html.TextBoxFor(m => m.CongregationContact.Name, new { @class = "dialog-textbox required", @id = "create-contact-name" })<br />
                @Html.ValidationMessageFor(m => m.CongregationContact.Name)
                @Html.LabelFor(m => m.CongregationContact.Position)
                @Html.TextBoxFor(m => m.CongregationContact.Position, new { @class = "dialog-textbox required", @id = "create-contact-position" })<br />
                @Html.ValidationMessageFor(m => m.CongregationContact.Position)
                @* hidden input populated by congregation-contacts-create.js *@
                <input type="hidden" name="CongregationContact.CongregationID" id="create-contact-congregation-id" value="" />
            </div>
        }
    </div>
    <div id="create-contact-loading">
        <div class="throbber">
            @* loading animation*@
        </div>
    </div>
    <div id="create-contact-error" class="ajax-error"></div>
</div>
