@using Clickfarm.Cms.Mvc
@model KCActorsTheatre.Web.ViewModels.HomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";    
    var req = Model.RequestContent;
    var page = req.Page as Clickfarm.Cms.Core.WebPage;
}
@section scripts
{
    <script type="text/javascript" src="/common/js/home/home-index.js"></script>
}

@* rotator images and videos *@
<div class="row-fluid">
    <div class="span8">
        @Html.Content(new ContentSettings
        {
            RequestContent = req,
            ContentGroupName = "Rotator Slides",
            PartialViewName = "_RotatorSlides"
        })
    </div>
	<div class="span4 hero-text-blocks">
        @Html.Content(new ContentSettings
        {
            RequestContent = req,
            ContentGroupName = "Rotator Slides",
            PartialViewName = "_RotatorCaptions"
        })
	</div>
</div>

@* event ticker *@
<div class="row-fluid">
	<div class="span12 update-scroll carousel slide">
        <div class="carousel-inner">
            @for (int i = 0; i < Model.Events.Count(); i++)
            {
                var item = Model.Events.ToList()[i];
                <div class="item @(i == 0 ? "active" : "")">
				    <h3><a href="/calendar/event/@item.EventID">@item.Title</a></h3>
				    <p class="update">@item.Summary</p>
                </div>
            }
        </div>
	</div>
</div>

@* callouts *@
<div class="row-fluid">
    <div class="span4 main-callouts">
	    <img src="/common/img/ph-1.png" alt="" class="img-rounded">
	    <h2>Get Involved</h2>
	    <p>@Html.Content(page, "Home Callouts", 0, 1)</p>
	    <a href="/why" class="btn cta-btn">Learn More</a>
    </div>
    <div class="span4 main-callouts">
	    <img src="/common/img/ph-2.png" alt="" class="img-rounded">
	    <h2>Upcoming Events</h2>
	    <p>@Html.Content(page, "Home Callouts", 1, 1)</p>
	    <a href="/calendar" class="btn cta-btn">Learn More</a>
    </div>
    <div class="span4 main-callouts">
	    <img src="/common/img/ph-3.png" alt="" class="img-rounded">
	    <h2>About Healthy Nevada</h2>
	    <p>@Html.Content(page, "Home Callouts", 2, 1)</p>
	    <a href="/healthy-nevada-project" class="btn cta-btn">Learn More</a>
    </div>
</div>