@model KCActorsTheatre.Web.Areas.CustomAdmin.ViewModels.Announcements.EditViewModel
@using Clickfarm.AppFramework.Extensions
@using Clickfarm.Cms.Mvc
@{
    Layout = null;
    var entityDescription = "Announcement";
}
@if (Model.HasAnnouncement)
{
    string tagList = Model.GetTagsAsList();
    if (string.IsNullOrWhiteSpace(tagList))
    {
        tagList = "Click to edit";
    }

    <div class="editable-parent item-index-tab model-display" data-tab-type="edit-item" data-item-id="@Model.Announcement.AnnouncementID">
        <div class="ui-toolbar-cms">
            <a href="#" class="refresh-item-link" data-item-id="@Model.Announcement.AnnouncementID" title="Refresh @entityDescription">Refresh @entityDescription</a>
            <a href="#" class="delete-item-link" data-item-id="@Model.Announcement.AnnouncementID" title="Delete @entityDescription">Delete @entityDescription</a>
        </div>
        <div class="ui-widget-content ui-corner-all ui-widget-cms">

            <label>Title:</label>
            @*TODO*@
            <span style="font-style: italic">TBD characters maximum</span>
            <div class="display-field editable-format editable" data-property-name="Title">@Model.Announcement.Title</div>

            <label>Body:</label>
            @*TODO*@
            <span style="font-style: italic">TBD characters maximum</span>
            <div class="display-field editable-format editable-html" data-property-name="Body">@Html.Raw(Model.Announcement.Body)</div>

            <label>Tags:</label>
            <div class="display-field editable-format edit-associated-tags pointer">@Html.Raw(tagList)</div>

            <label>Publish Date:</label>
            <span style="font-style: italic">Date to start showing article on the site.</span>
            <div class="display-field editable-format editable-datepicker" data-property-name="DatePublished">@(Model.Announcement.DatePublished.HasValue ? Model.DateConverter.Convert(Model.Announcement.DatePublished.Value).ToUtc().ForCmsUser().ToShortDateString() : string.Empty)</div>

            <label>Expiration Date:</label>
            <span style="font-style: italic">Date to remove article from the site.</span>
            <div class="display-field editable-format editable-datepicker nullable" data-property-name="DateExpired">@(Model.Announcement.DateExpired.HasValue ? Model.Announcement.DateExpired.Value.ToShortDateString() : string.Empty)</div>
            
            <label>Date Created:</label>
            <div class="display-field">@(Model.DateConverter.Convert(Model.Announcement.DateCreated).FromUtc().ForCmsUser().ToString("g"))</div>

            <label>Last Modified:</label>
            <div class="display-field">@(Model.Announcement.DateModified.HasValue ? Model.DateConverter.Convert(Model.Announcement.DateModified.Value).FromUtc().ForCmsUser().ToString("g") : "Never")</div>
        </div>
    </div>
}
else
{
    <div class="message">
        @entityDescription not found.
    </div>
}