@using Clickfarm.Cms.Mvc
@model KCActorsTheatre.Web.ViewModels.PeopleViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    var req = Model.RequestContent;
    var page = req.Page as Clickfarm.Cms.Core.WebPage;
}

<div class="container inner-page">
    <div class="row header-row">
        <div class="col-xs-12">
            <h1>Our People</h1>
            <p>@Html.Content(page, "Body Copy")</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" id="main-content">
            @if (Model.People != null && Model.People.Any())
            {
                foreach (var person in Model.People)
                {
                    var classString = string.IsNullOrWhiteSpace(person.ImageUrl) ? "col-sm-12" : "col-sm-9";

                    <div class="row person">
                        @if (!string.IsNullOrWhiteSpace(person.ImageUrl))
                        {
                            <div class="col-sm-3">
                                <img src="@person.ImageUrl" alt="@person.Name" />
                            </div>
                        }
                        <div class="@classString">
                            <h3>@person.Name</h3>
                            <h6>@person.Title</h6>
                            @Html.Raw(person.BioDetail)
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="row person">
                    <div class="col-sm-12">
                        <h3>We are working on adding more information about our people.</h3>
                        <p>Please check back soon.</p>
                    </div>
                </div>
            }
        </div>
        <!-- Close main-content -->
    </div>
    <!-- Close row -->
</div>
