@model KCActorsTheatre.Web.Areas.CustomAdmin.ViewModels.PersonModel.EditPersonViewModel
@using Clickfarm.AppFramework.Extensions
@using Clickfarm.Cms.Mvc
@{
    Layout = null;
    var entityDescription = "Person";
}
@if (Model.HasPerson)
{
    <div class="editable-parent item-index-tab model-display" data-tab-type="edit-item" data-item-id="@Model.Person.PersonID">
        <div class="ui-toolbar-cms">
            <a href="#" class="refresh-item-link" data-item-id="@Model.Person.PersonID" title="Refresh @entityDescription">Refresh @entityDescription</a>
            <a href="#" class="delete-item-link" data-item-id="@Model.Person.PersonID" title="Delete @entityDescription">Delete @entityDescription</a>
        </div>
        <div class="ui-widget-content ui-corner-all ui-widget-cms">
            <label>Name:</label>
            <div class="display-field editable-format editable" data-property-name="Name">@Model.Person.Name</div>
            <label>Title:</label>
            <div class="display-field editable-format editable" data-property-name="Title">@Model.Person.Title</div>
            <label>Bio Summary:</label>
            <div class="display-field editable-format editable" data-property-name="BioSummary">@Model.Person.BioSummary</div>
            <label>Bio Detail:</label>
            <div class="display-field editable-format editable-html" data-property-name="BioDetail">@Html.Raw(Model.Person.BioDetail)</div>
            <label>Image URL:</label>
            <div class="display-field editable-format editable" data-property-name="ImageUrl">@Html.Raw(Model.Person.ImageUrl)</div>
            <label>Date Created:</label>
            <div class="display-field">@(Model.DateConverter.Convert(Model.Person.DateCreated).FromUtc().ForCmsUser().ToString("g"))</div>
        </div>
    </div>
}
else
{
    <div class="message">
        @entityDescription not found.
    </div>
}
