@model KCActorsTheatre.Web.ViewModels.PeopleViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="container inner-page">
    <div class="row header-row">
        <div class="col-xs-12">
            <h1>Our People</h1>
            <p>Brief descriptor text about our people in general [need copy].</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" id="main-content">
            @if (Model.People != null && Model.People.Any())
            {
                foreach (var person in Model.People)
                {
                    <div class="row person">
                        <div class="col-sm-3">
                            @if (!string.IsNullOrWhiteSpace(person.ImageUrl))
                            {
                                <img src="@person.ImageUrl" alt="@person.Name" />
                            }
                        </div>
                        <div class="col-sm-9">
                            <h3>@person.Name</h3>
                            <h6>@person.Title</h6>
                            @Html.Raw(person.BioDetail)
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="row person">
                    <div class="col-sm-12">
                        <h3>We are working on adding more information about our people.</h3>
                        <p>Please check back soon.</p>
                    </div>
                </div>
            }
        </div>
        <!-- Close main-content -->
    </div>
    <!-- Close row -->
</div>
