@model KCActorsTheatre.Web.Areas.CustomAdmin.ViewModels.Show.EditShowViewModel
@using Clickfarm.AppFramework.Extensions
@using Clickfarm.Cms.Mvc
@{
    Layout = null;
    var entityDescription = "Show";
}
@if (Model.HasShow)
{
    <div class="editable-parent item-index-tab model-display" data-tab-type="edit-item" data-item-id="@Model.Show.ShowId">
        <div class="ui-toolbar-cms">
            <a href="#" class="refresh-item-link" data-item-id="@Model.Show.ShowId" title="Refresh @entityDescription">Refresh @entityDescription</a>
            <a href="#" class="delete-item-link" data-item-id="@Model.Show.ShowId" title="Delete @entityDescription">Delete @entityDescription</a>
        </div>
        <div class="ui-widget-content ui-corner-all ui-widget-cms">
            <label>Title:</label>
            <div class="display-field editable-format editable" data-property-name="Title">@Model.Show.Title</div>
            <label>Summary:</label>
            <div class="display-field editable-format editable" data-property-name="Summary">@Model.Show.Summary</div>
            <label>Body:</label>
            <div class="display-field editable-format editable-html" data-property-name="Body">@Html.Raw(Model.Show.Body)</div>
            <label>Start Date:</label>
            <div class="display-field editable-format editable-datepicker" data-property-name="ShowDate">@(Model.Show.ShowDate.HasValue ? Model.DateConverter.Convert(Model.Show.ShowDate.Value).ToUtc().ForCmsUser().ToShortDateString() : string.Empty)</div>
            <label>Is Published?</label>
            <div class="display-field editable-format editable-yes-no-boolean" data-property-name="IsPublished">@(Model.Show.IsPublished ? "Yes" : "No")</div>
            <label>Date Created:</label>
            <div class="display-field">@(Model.DateConverter.Convert(Model.Show.DateCreated).FromUtc().ForCmsUser().ToString("g"))</div>
        </div>
    </div>
}
else
{
    <div class="message">
        @entityDescription not found.
    </div>
}
