@using Clickfarm.Cms.Mvc
@model KCActorsTheatre.Web.Areas.CustomAdmin.ViewModels.Show.ShowViewModel
@{
    var entityDescriptionSingular = "Show";
    var entityDescriptionPlural = "Shows";
    ViewBag.HtmlTitle = @entityDescriptionPlural;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section styles
{
    <link href="/areas/customadmin/common/css/admin.css" rel="stylesheet" type="text/css" />
}
@section scripts
{
    <script type="text/javascript" src="@Url.CdnResource("/common/js/knockout-plugins/mapping/2.3.5/knockout.mapping-2.3.5.js")"></script>
    <script type="text/javascript" src="/areas/customadmin/common/js/admin-item.js"></script>
    <script type="text/javascript" src="/areas/customadmin/common/js/admin-item-create.js"></script>
    <script type="text/javascript" src="/areas/customadmin/common/js/admin-item-index.js"></script>
    <script type="text/javascript" src="/areas/customadmin/common/js/show/person-manager.js"></script>
    <script type="text/javascript" src="/areas/customadmin/common/js/show/show-images.js"></script>
    <script type="text/javascript" src="/areas/customadmin/common/js/show/show-images-create.js"></script>
    <script type="text/javascript" src="/areas/customadmin/common/js/show/show-videos.js"></script>
    <script type="text/javascript" src="/areas/customadmin/common/js/show/show-videos-create.js"></script>
    <script type="text/javascript" src="/areas/customadmin/common/js/show/show.js"></script>
}
<div id="items" class="items-container">
    <div id="tabs">
        <a href="#" id="close-tabs-link" data-bind="visible: tabMgr.tabs().length > 1, click: tabMgr.closeAllTabs" title="Close all">Close all</a>
        <ul>
            <li class="tab-notclosable"><a href="#primary-tab">@entityDescriptionPlural</a></li>
        </ul>
        <div id="primary-tab">
            <div class="ui-toolbar-cms">
                <a id="create-item" href="#">@entityDescriptionSingular</a>
            </div>
            <div class="tab-options-wrapper">
                <div id="start-options" class="tab-options">
                    <h3><a>@entityDescriptionPlural</a></h3>
                    <div>
                        <div>
                            <label for="find-items-name">Find By Title:</label><br />
                            <input type="text" id="find-items-name" />
                            <a id="show-all-items" style="margin-top: 10px" href="#">Show All</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-display">
                <div id="find-items-results" data-bind="visible: findResultsVisible" class="tab-display-panel ui-dialog ui-widget ui-widget-cms ui-widget-content ui-corner-all ui-state-highlight">
                    @Html.TitleBar(entityDescriptionPlural + " Found", true, "close-find-items-results", "click: closeFindResults")
                    <div class="wrapper">
                        <div data-bind="visible: retrievingItems">
                            <img src="@Url.AjaxLoader()" alt="Looking..." />
                            Looking...
                        </div>
                        <table class="items-table table-layout" data-bind="visible: !retrievingItems() && anyItems()">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Date Created</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: items">
                                <tr data-bind="attr: { 'data-item-id': ID }">
                                    <td>
                                        <a href="#" data-bind="click: function () { $parent.showEditItem($data); }, text: Title, attr: { 'data-item-id': ID }"></a>
                                    </td>
                                    <td data-bind="text: DateCreated"></td>
                                    <td data-bind="text: StartDate"></td>
                                    <td data-bind="text: EndDate"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div data-bind="visible: !retrievingItems() && !anyItems()">No @entityDescriptionPlural were found.</div>
                    </div>
                </div>
                <div id="recent-items" data-bind="visible: recentItems().length > 0" class="tab-display-panel ui-dialog ui-widget ui-widget-cms ui-widget-content ui-corner-all ui-state-highlight">
                    @Html.TitleBar("Recent " + entityDescriptionPlural)
                    <div class="wrapper">
                        <ul data-bind="foreach: recentItems">
                            <li><a href="#" data-bind="click: function () { $parent.showEditItem($data); }, text: Title, attr: { 'data-item-id': ID }"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <br class="clear" />
        </div>
    </div>
</div>

<div id="manage-images-form" title="Manage Slideshow Images">
    <div class="ui-toolbar-cms">
        <a id="create-image" href="#">New Image</a>
    </div>
    <div class="ui-widget-content ui-corner-all ui-widget-cms">
        <div class="ui-dialog-titlebar ui-titlebar-cms ui-widget-header ui-corner-all tags-header">
            Images:
        </div>
        <table class="table-layout images-table" data-bind="visible: anyImages()" style="width:100%;">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Image</th>
                    <th style="width:20px;">&nbsp;</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: images" id="images-tbody">
                <tr data-bind="attr: { 'id': imageID, 'data-image-id': imageID, 'data-image-url': imageURL }">
                    <td><div class="sort-order"><span class="ui-icon ui-icon-carat-2-n-s"></span></div></td>
                    <td><div class="display-field" data-bind="text: imageURL" data-property-name="ImageURL"></div></td>
                    <td>
                        <a href="#" class="delete-image-link" data-bind="click: $parent.removeImage">Delete Image</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br class="clear" />
    </div>
</div>

<div id="manage-videos-form" title="Manage Slideshow Videos">
    <div class="ui-toolbar-cms">
        <a id="create-video" href="#">New Video</a>
    </div>
    <div class="ui-widget-content ui-corner-all ui-widget-cms">
        <div class="ui-dialog-titlebar ui-titlebar-cms ui-widget-header ui-corner-all tags-header">
            Videos:
        </div>
        <table class="table-layout videos-table" data-bind="visible: anyVideos()" style="width:100%;">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Video</th>
                    <th style="width:20px;">&nbsp;</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: videos" id="videos-tbody">
                <tr data-bind="attr: { 'id': videoID, 'data-video-id': videoID, 'data-vimeo-id': vimeoID }">
                    <td><div class="sort-order"><span class="ui-icon ui-icon-carat-2-n-s"></span></div></td>
                    <td><div class="display-field" data-bind="text: vimeoID" data-property-name="VimeoID"></div></td>
                    <td>
                        <a href="#" class="delete-video-link" data-bind="click: $parent.removeVideo">Delete Video</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br class="clear" />
    </div>
</div>

<div id="create-video-form" class="model-display edit-not-in-place hidden" title="New Show Video">
    <div class="ui-widget-content ui-corner-all ui-widget-cms">
        @using (Ajax.BeginForm("AddVideo", "Show",
            new AjaxOptions
            {
                HttpMethod = "Post",
                LoadingElementId = "create-video-loading",
                OnFailure = "createVideoManager.ajaxFailure",
                OnSuccess = "createVideoManager.ajaxSuccess"
            }
        ))
        {
            <div class="display-field">
                @Html.LabelFor(m => m.ShowVideo.VimeoID)
                @Html.TextBoxFor(m => m.ShowVideo.VimeoID, new { @class = "dialog-textbox required", @id = "create-vimeo-id" })<br />
                @Html.ValidationMessageFor(m => m.ShowVideo.VimeoID)
                @* hidden input populated by show-videos-create.js *@
                <input type="hidden" name="ShowVideo.ShowID" id="create-video-show-id" value="" />
            </div>
        }
    </div>
    <div id="create-video-loading">
        <div class="throbber">
            @* loading animation*@
        </div>
    </div>
    <div id="create-video-error" class="ajax-error"></div>
</div>

<div id="manage-people-form" title="Manage People">
    <div class="sortable-block ui-widget-content ui-corner-all ui-widget-cms">
        <div class="ui-dialog-titlebar ui-titlebar-cms ui-widget-header ui-corner-all people-header">
            Assigned People:
        </div>
        <ul id="sortable-assigned-people" class="sortable" data-bind="foreach: people">
            <li class="ui-state-default ui-corner-all" data-bind="attr: { 'data-person-id': personID }">
                <span class="ui-icon ui-icon-carat-2-e-w"></span>
                <div class="person-name" data-bind="text: name"></div>
            </li>
        </ul>
    </div>
    <div id="available-people-container" class="sortable-block ui-widget-content ui-corner-all ui-widget-cms">
        <div class="ui-dialog-titlebar ui-titlebar-cms ui-widget-header ui-corner-all people-header">
            Available People:
        </div>
        <div>
            <a id="show-all-people" href="#" style="float: right;">Show All</a>
            <label for="find-people-name">Find By Name:</label><br />
            <input type="text" id="find-people-name" style="width: 50%;" />
        </div>
        <div data-bind="visible: retrievingPeople()" class="throbber" style="margin-top: 15px;">
            @* loading animation *@
        </div>
        <div data-bind="visible: !initialSearch() && !retrievingPeople() && !anyPeople()" style="padding: 20px 10px 10px;">No people were found, or they're already assigned.</div>
        <ul id="sortable-available-people" class="sortable" data-bind="foreach: people">
            <li class="ui-state-default ui-corner-all" data-bind="attr: { 'data-person-id': personID }">
                <span class="ui-icon ui-icon-carat-2-e-w"></span>
                <div class="person-name" data-bind="text: name"></div>
            </li>
        </ul>
    </div>
    <br class="clear" />
</div>

<div id="create-item-form" class="modal-display edit-not-in-place hidden" title="New @entityDescriptionSingular">
    <div class="ui-widget-content ui-corner-all ui-widget-cms">
        @using (Ajax.BeginForm("CreateShowAjax", "Show",
            new AjaxOptions
            {
                HttpMethod = "Post",
                LoadingElementId = "create-item-loading",
                OnFailure = "createItemManager.ajaxFailure",
                OnSuccess = "createItemManager.ajaxSuccess"
            }
        ))
        {
            @Html.LabelFor(m => m.Show.Title)
            <div class="display-field">
                @Html.TextBoxFor(m => m.Show.Title, new { @class = "dialog-textbox", @id = "create-item-name" })<br />
                @Html.ValidationMessageFor(m => m.Show.Title)
            </div>
        }
    </div>
    <div>
        @Html.Partial("~/Areas/Admin/Views/Shared/AjaxLoader.cshtml", new ViewDataDictionary { { "LoaderID", "create-item-loading" } })
    </div>
    <div id="create-item-error" class="ajax-error"></div>
</div>